 body {
	background-color: #262626;
	margin-left: 5%;
	margin-right: 5%;
	/*border: 3px solid white;*/
	padding: 20px 20px 20px 20px;
	font-family: verdana, arial, sans-serif

}

h1, h2 {
	font-style: italic;
	color: white;
}

#tableContainer {
	display: table;
	border-spacing: 10px;
}

#tableRow {
	display: table-row;
}

.column {
  margin: 10px 10px 0 0;
  border: solid white;
}


.album {
	color: red;
}

#warp_riders {
	width: 500;
	height: 500;
	border: 1px solid white;
	padding: 1px;
}

#album_of_the_week {
  display: table-cell;
  background:       black top left;
  font-size:        105%;
  padding:          15px;
  vertical-align: top;
}

#editor_choice {
  display: table-cell;
  background:       black bottom right;
  font-size:        105%;
  padding:          15px;
  vertical-align: top;
}

#artist_spotlight {
	display: table-cell;
    background-color: black;
    width: 20%;
    padding: 15px;
    vertical-align: top;
}

p{
	color: gray;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.selected {
  background-color: #111;
}
