body {
    font-family: Verdana,Helvetica,Arial,sans-serif;
    line-height: 1.6em;
}

/*
#guarantee {
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.9em;
    padding: 25px 25px 25px 80px;
    margin: 30px 250px 30px 30px;
    border: thick white dashed;
    background-color: #007e7e;
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
}
*/
.greentea {
  color:green;
}

.raspberry {
  color:blue;
}

.blueberry {
  color:purple;
}

p {  
    /*background-color: red;
    border: 5px solid gray;*/
    color:maroon; 
}

h1, h2 {
    color:#007e7e;
    /*font-family:sans-serif;*/
}

h1 {
    border-bottom: 1px solid black;
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

em {
  font-family:serif;
    /*color:blue;*/
    color:red;
}

em {
  color:blue;
}

#guarantee {
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.9em;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border: thick white dashed;
    background-color: #007e7e; 
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    color: white;
}

#elixirs {
    border: thin solid #007e7e;
    text-align: center;
    width: 200px;
    padding: 0 10px 10px  10px;
    /*margin-left: auto;
    margin-right: auto;*/
    margin-left: 20px;
    line-height: 1;
}

#elixirs h2 {
    color: black;
}

#elixirs h3 {
    color: #d12c47;
}

#copyright {
    font-size: 50%;
    text-align: center;
    line-height: normal;
    margin-top: 30px;
}

.cd-title {
    font-style: italic; 
}

.artist {
    font-weight: bold;
}

#music {
    border: 5px outset #f00;
}

a:link {
    color: #007e7e;
}

a:visited {
    color: #333;
}

a:active {
    color: #f88396;
}

a:focus {
    border: thick solid #0d5353;
    color: orange;
}

#elixirs a:hover {
    background-color: #f88396;
    color: #0d5353;
    
}

@media screen and (max-width: 480px) {
    #guarantee {
        margin-right: 30px;
        padding-left: 25px;
    }
}

@media screen and (min-width: 481px) {
    #guarantee {
        margin-right: 250px;
        background-image: url(images/background.gif);
        padding-left: 80px;
    }
}

/*
em.description {
  font-weight: bold;
}
.red {
  background-color:red;
}*/