body {
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: small;
    line-height: 1.6em;
}

#guarantee {
    font-style: italic;
    font-family: georgia, "times new roman", times, serif;
    line-height: 1.9em;
    padding: 25px 25px 25px 80px;
    border: thick white dashed;
    background-color: #007e7e;
    background-image: url(images/background.gif);
    background-repeat: no-repeat;

}

.greentea {
	color:green;
}

.raspberry {
	color:blue;
}

.blueberry {
	color:purple;
}

p {  
    /*background-color: red;
    border: 5px solid gray;*/
    color:maroon; 
}

h1, h2 {
    color: #007e7e;
    /*font-family:sans-serif;*/
}

h1 {
    border-bottom: 1px solid black;
    font-size: 150%;
}

h2 {
    font-size: : 130%;            
}

em {
	font-family:serif;
    /*color:blue;*/
    color:red;
}

em {
	color:blue;
}

/*
em.description {
	font-weight: bold;
}

.red {
	background-color:red;
}*/


@media screen and (max-device-width: 480px){
    CSS Rules for browser windows <= 480 pixels run on screen go here
    #guarantee {
        margin: 30px;
    }
}

@media screen and (min-device-width: 481px){
    CSS Rules for browser windows <= 480 pixels run on screen go here
}